header {
  height: 130px;
}
header .flex-between {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}
header .flex-between .logo > img {
  width: 80%;
  margin: 0 auto;
}
header .flex-between ul {
  width: 60%;
  height: 100%;
}
header .flex-between ul li {
  text-align: center;
  height: 100%;
  line-height: 130px;
}
header .flex-between ul li a {
  font-size: 13px;
  font-weight: 700;
}
header .flex-between ul li.current {
  border-bottom: 7px solid #0c7cec;
  color: #0c7cec;
}

.jumbo {
  width: 100%;
  aspect-ratio: 4/1;
  background-image: url("/img/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbo .series-cont {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.jumbo .series-cont h4 {
  position: absolute;
  bottom: -17px;
  left: 0;
  color: white;
  background-color: #0c7cec;
  display: inline-block;
  padding: 10px 15px;
}

main section {
  padding: 40px 0;
  background-color: #303030;
  width: 100%;
}
main section .content-container {
  color: white;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
main section .content-container .button-cont {
  width: 100%;
  text-align: center;
}
main section .content-container .button-cont button {
  color: white;
  background-color: #0c7cec;
  padding: 12px 35px;
  border: 0;
  font-size: 16px;
  font-weight: 700;
}
main section .content-container .card {
  width: calc(16.6666666667% - 10px);
  margin: 5px;
}
main section .content-container .card img {
  width: 100%;
  aspect-ratio: 1/1;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
main section .content-container .card .card-name {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
main .merch-section {
  background-color: #0c7cec;
}
main .merch-section .merchs-container {
  color: white;
  height: 150px;
  width: 70%;
  margin: 0 auto;
}
main .merch-section .merchs-container .merch-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .merch-section .merchs-container .merch-card .merch-img {
  width: 60px;
  padding: 12px;
}
main .merch-section .merchs-container .merch-card .resize {
  padding: 16px;
}
main .bar {
  height: 60px;
  background-color: #0c7cec;
}
main .info-comic-container {
  width: 60%;
  margin: 30px auto;
  background-color: white;
  display: flex;
  position: relative;
}
main .info-comic-container .desc-comic {
  width: 70%;
  padding-inline: 20px;
}
main .info-comic-container .desc-comic h1 {
  font-size: 30px;
}
main .info-comic-container .desc-comic .gallery {
  width: 150px;
  position: absolute;
  top: -290px;
  border: 2px solid white;
  color: white;
  font-size: 12px;
  text-align: center;
  background-color: #00a9d9;
}
main .info-comic-container .desc-comic .gallery div {
  padding: 3px 0;
}
main .info-comic-container .desc-comic .price {
  height: 50px;
  display: flex;
  line-height: 50px;
  background-color: #55ba59;
  color: lightgray;
  justify-content: space-between;
  padding-inline: 5px;
  margin-block: 10px;
}
main .info-comic-container .desc-comic .price > div:first-child {
  padding-inline: 5px;
  width: 70%;
  display: flex;
  padding-inline: 5px;
  border-right: 1px solid black;
  justify-content: space-between;
}
main .info-comic-container .desc-comic .price span {
  color: white;
  flex-grow: 1;
  text-align: center;
}
main .info-comic-container .desc-comic p {
  line-height: 25px;
}
main .info-comic-container .adv {
  width: 30%;
}
main .info-comic-container .adv h4 {
  text-align: end;
}
main .spec-comic {
  background-color: #f6f6f6;
}
main .spec-comic > div {
  width: 60%;
  margin: 0 auto;
  align-items: flex-start;
  line-height: 25px;
}
main .spec-comic > div .talent {
  width: 60%;
  padding-inline: 20px;
}
main .spec-comic > div .specs {
  width: 40%;
  padding-inline: 20px;
}
main .spec-comic > div .comic-by {
  width: 60%;
  color: #0c7cec;
}
main .spec-comic > div .by {
  align-self: flex-start;
}
main .spec-comic > div h3 {
  padding-bottom: 20px;
}
main .spec-comic > div .flex-between {
  border-top: 1px solid lightgrey;
  padding-block: 5px;
}
main .spec-comic > div .flex-between:last-child {
  border-bottom: 1px solid lightgrey;
}

footer .bg-comic {
  color: #797979;
  height: 350px;
  background-image: url("/img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
footer .bg-comic .flex-between {
  width: 70%;
  margin: 0 auto;
  height: 100%;
}
footer .bg-comic .flex-between .dc-logo-big {
  width: 60%;
  height: 100%;
  background-image: url("/img/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
footer .bg-comic .flex-between .footer-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40%;
  height: 100%;
  padding: 20px 0;
}
footer .bg-comic .flex-between .footer-list h2 {
  color: white;
  margin: 5px 0;
}
footer .footer-bt-sec {
  background-color: #303030;
}
footer .footer-bt-sec .footer-bottom {
  color: #797979;
  height: 130px;
  width: 70%;
  margin: 0 auto;
}
footer .footer-bt-sec .footer-bottom .button {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-bt-sec .footer-bottom .button button {
  border: 2px solid #0c7cec;
  background-color: #303030;
  color: white;
  padding: 15px;
}
footer .footer-bt-sec .footer-bottom .social {
  width: 40%;
  display: flex;
  align-items: center;
}
footer .footer-bt-sec .footer-bottom .social span {
  color: #0c7cec;
  font-weight: 700;
  min-width: 100px;
  margin-right: 20px;
}
footer .footer-bt-sec .footer-bottom .social img {
  padding: 10px;
  width: 55px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
  display: block;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}